* {
    box-sizing: border-box;
  }    
    
.portfolio {
    background-image: url("wood1.jpg");
    padding: 40px;
    color: rgb(71, 70, 70);
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    position: static;
}
.Boxes{
    padding: 40px;
    overflow: auto;
    background-image: url("fullback.jpg");
    margin-bottom: 40px;
    margin-top: 5px;
}
.ht{
    float: left;
    margin: 5px;
    padding: 20px;
    background-image: url("wood1.jpg");
    position: relative;
    margin: auto;
}
.cs{
    float: right;
    margin: 5px;
    padding: 20px;
    background-image: url("wood1.jpg");
    position: relative;
}
.c{
    float: left;
    margin: 5px;
    padding: 20px;
    margin-right: 600px;
    background-image: url("wood1.jpg");
    position: relative;
}
.js{
    float: right;
    margin: 5px;
    padding: 20px;
    background-image: url("wood1.jpg");
    position: relative;
}
#footer {
    padding: 8px;
    background-image: url("back-prof.jpg");
    text-align: center;
    color: rgb(214, 212, 212);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    right:0;
}
a{
    color: gray;
    cursor: pointer;
}
a:hover{
    color: azure
}

.Home{
    display: inline-block;
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    border-style: outset;
    background-image: url("fullback.jpg");
    border-radius: 40%;
    position: static;

}
.Home:hover {
    background-image: url("wood.jpg");
    }
.Contact{
    display: inline-block;
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    border-style: outset;
    background-image: url("fullback.jpg");
    border-radius: 40%;
}
.Contact:hover {
    background-image: url("wood.jpg");
    }
.Portfolio{
    font-size: 25px;
    font-family:'Sigmar One', cursive;
    border-style: outset;
    display: inline-block;
    background-image: url("fullback.jpg");
    border-radius: 40%;
}
.Portfolio:hover {
    background-image: url("wood.jpg");
    }
#button1{
    background-image: url("textback.jpg");
    color:black;
    border-color: #0066A2;
    height: 50px;
    width: 200px;
    font: bold 15px arial, sans-serif;
    border: 2px solid rgb(71, 70, 70); 
    border-radius: 50%;
    position: absolute;
    top: 85%;
    bottom: 20%;
    left: 20%;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    }
    #button1:hover {
        background-image: url("wood.jpg");
        color:white;
        }
#button2{
    background-image: url("textback.jpg");
    color: black;
    border-color: #0066A2;
    height: 50px;
    width: 200px;
    font: bold 15px arial, sans-serif;
    border: 2px solid rgb(71, 70, 70); 
    border-radius: 50%;
    position: absolute;
    top: 85%;
    bottom: 20%;
    left: 20%;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    }
#button2:hover {
    background-image: url("wood.jpg");
    color: white;
    }
#button3{
    background-image: url("textback.jpg");
        color:black;
        border-color: #0066A2;
        height: 50px;
        width: 200px;
        font: bold 15px arial, sans-serif;
        border: 2px solid rgb(71, 70, 70); 
        border-radius: 50%;
        position: absolute;
        top: 85%;
        bottom: 20%;
        left: 20%;
        cursor: pointer;
        font-family: 'Permanent Marker', cursive;
        }
#button3:hover {
        background-image: url("wood.jpg");
        color: white;
            }       
#button4{
    background-image: url("textback.jpg");
        color: black;
        border-color: #0066A2;
        height: 50px;
        width: 200px;
        font: bold 15px arial, sans-serif;
        border: 2px solid rgb(71, 70, 70); 
        border-radius: 50%;
        position: absolute;
        top: 85%;
        bottom: 20%;
        left: 20%;
        cursor: pointer;
        font-family: 'Permanent Marker', cursive;
}
 #button4:hover {
                background-image: url("wood.jpg");
                color: white;
 }

 @media screen and (max-width: 980px) {
    div.portfolio{
      font-size: 30px;
    }
}
@media screen and (max-width: 980px) {
    .Home{
      float: none;
      width: 100%;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 980px) {
    .Contact{
      float: none;
      width: 100%;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 980px) {
    .Portfolio{
      float: none;
      width: 100%;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 980px) {
    .ht{
      float: none;
      width: 100%;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 980px) {
    .cs{
      float: none;
      width: 100%;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 980px) {
    .js{
      float: none;
      width: 100%;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 980px) {
    .c{
      float: none;
      width: 100%;
      font-size: 15px;
    }
  }